DB_HOST=127.0.0.1
DB_NAME=lms
DB_USER=root
DB_PASS=
APP_DEBUG=1

# Facoltative: necessarie solo se si usano video con provider 'bunny' o 'cloudflare'
BUNNY_LIBRARY_ID=
CLOUDFLARE_STREAM_CUSTOMER_CODE=
