/vendor/
/storage/videos/*
/storage/materials/*
/storage/certificates/*
/storage/installed.lock
!/storage/videos/.gitkeep
!/storage/materials/.gitkeep
!/storage/certificates/.gitkeep
.env
.env.local
*.log
.DS_Store
Thumbs.db
