/vendor/
/storage/videos/*
/storage/materials/*
/storage/lesson-images/*
/storage/avatars/*
/storage/course-covers/*
/storage/google/*
/storage/group-logos/*
/storage/certificates/*
/storage/installed.lock
/storage/mail/*
!/storage/mail/.gitkeep
!/storage/videos/.gitkeep
!/storage/materials/.gitkeep
!/storage/lesson-images/.gitkeep
!/storage/avatars/.gitkeep
!/storage/course-covers/.gitkeep
!/storage/google/.gitkeep
!/storage/group-logos/.gitkeep
!/storage/certificates/.gitkeep
.env
.env.local
*.log
.DS_Store
Thumbs.db
